body {
    background-color: #22333B;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: #d4ccc3;
    padding: 15px;
    color: #5E503F;
    border: 2px solid #5E503F;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #22333B;
    color: #d4ccc3;
    border: none;
    cursor: pointer;
    padding: 17px;
}

h1 {
    margin-top: 1em;
}

.todo {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40vw;
    height: 70vh;
    background-color: #EAE0D5;
    border-radius: 1em;
    text-align: center;
    margin-top: 5%;
    transition: width 0.5s ease, height 0.5s ease;
}

@media (max-width: 1200px) and (min-width: 1001px) {
    .todo {
        width: 70%;
    }
}

@media (max-width: 1000px) and (min-width: 701px) {
    .todo {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .todo {
        width: 100%;
    }
}

@media (max-height: 900px) {
    .todo {
        height: 80vh;
        margin-top: 0.3em;
    }
}

.add-todo-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.add-todo-div>*:nth-child(1) {
    flex: 0 1 60%;
}

.add-todo-div>*:nth-child(2) {
    flex: 0 1 20%;
}

#input-todo {
    border-radius: 15px;
    height: 70%;
    align-items: center;
    border: 2px solid rgb(154, 152, 152);
    font-size: 1em;
}

#input-todo::placeholder {
    text-align: center;
}

#input-todo:focus {
    outline: none;
    border-color: black;
}

#todos-list {
    display: flex;
    flex-direction: column;
    height: 46vh;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0;
    margin: 0 0 2.4em 0;
    border-bottom: 2px solid gray;
}

#todos-list li {
    padding-left: 5%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2em;
    align-items: center;
}

li>*:nth-child(1) {
    flex: none;
    width: 1.38em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #5E503F;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

li>*:nth-child(1):hover {
    background-color: #22333b74;
    transition: background-color 0.1s ease;
}

li>*:nth-child(1):checked {
    background-color: #22333B;
    border: none;
}

li>*:nth-child(2) {
    flex: 1 1 85%;
    text-align: left;
}

span::first-letter {
    text-transform: capitalize;
}

li>*:nth-child(3) {
    flex: 1 1 5%;
    margin-right: 5%;
}

#input-d {
    text-align: center;
    border: 2px solid #22333B;
    border-radius: 0.5em;
    font-family: Verdana, Tahoma, sans-serif;
    color: #22333B;
}

li button {
    padding: 5px;
}

li button:hover {
    border: none;
    padding: 7px;
}

.crossed span {
    text-decoration: line-through;
}

.all-buttons {
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;
    align-items: center;
    padding-bottom: 5%;
}

.author {
    display: flex;
    gap: 1em;
    background-color: aliceblue;
    width: 30vw;
    flex-shrink: 1;
    margin: auto;
    margin-top: 5em;
    justify-content: center;
    border-radius: 1em;
    color: #22333B;
    transition: width 0.5s ease;
}

@media (max-width: 700px) {
    .author {
        width: 90%;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .author {
        width: 80%;
    }
}

@media (max-height: 850px) {
    .author {
        margin-top: 2em;
    }
}

#name {
    font-weight: 800;
}

#todos-list::-webkit-scrollbar {
    width: 15px;
}

#todos-list::-webkit-scrollbar-track {
    background-color: transparent;
}

#todos-list::-webkit-scrollbar-thumb {
    background-color: #b9b2aa;
    border-radius: 10px;
}

#todos-list::-webkit-scrollbar-thumb:hover,
#todos-list::-webkit-scrollbar-thumb:active {
    background-color: #5E503F;
}

#todos-list::-webkit-scrollbar-corner {
    background-color: #EAE0D5;
}