body {
    background-color: #22333B;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: #d4ccc3;
    padding: 15px;
    color: #5E503F;
    border: 2px solid #5E503F;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
}

button:hover {
    background-color: #22333B;
    color: #d4ccc3;
    border: none;
    cursor: pointer;
    padding: 17px;
}

h1 {
    margin-top: 1em;
}

.todo {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40vw;
    height: 70vh;
    background-color: #EAE0D5;
    border-radius: 1em;
    text-align: center;
    margin-top: 5%;
}

.add-todo-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.add-todo-div>*:nth-child(1) {
    flex: 0 1 60%;
}

.add-todo-div>*:nth-child(2) {
    flex: 0 1 20%;
}

#input-todo {
    border-radius: 15px;
    height: 70%;
    align-items: center;
    border: 2px solid rgb(154, 152, 152);
}

#input-todo::placeholder {
    text-align: center;
}

#todos-list {
    display: flex;
    flex-direction: column;
    height: 46vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    margin-bottom: 2.4em;
    border-bottom: 2px solid gray;
}

#todos-list li {
    padding-left: 5%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2em;
    align-items: center;
}

li>*:nth-child(1) {
    flex: none;
    width: 1.38em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #5E503F;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

li>*:nth-child(1):checked {
    background-color: #22333B;
    border: none;
}

li>*:nth-child(2) {
    flex: 1 1 85%;
    text-align: left;
}

span::first-letter {
    text-transform: capitalize;
}

li>*:nth-child(3) {
    flex: 1 1 5%;
    margin-right: 5%;
}

li button {
    padding: 5px;
}

li button:hover {
    padding: 7px;
}

.all-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 2;
    align-items: center;
}

.author {
    display: flex;
    gap: 1em;
    background-color: aliceblue;
    width: 25vh;
    flex-wrap: wrap;
    flex-grow: 2;
    margin: auto;
    margin-top: 5em;
    justify-content: center;
    border-radius: 1em;
    color: #22333B;
}

#name {
    font-weight: 800;
}

#todos-list::-webkit-scrollbar {
    width: 15px;
}

#todos-list::-webkit-scrollbar-track {
    background-color: transparent;
}

#todos-list::-webkit-scrollbar-thumb {
    background-color: #b9b2aa;
    border-radius: 10px;
}

#todos-list::-webkit-scrollbar-thumb:hover {
    background-color: #5E503F;
}