* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #22333B
}

h1 {
    padding-top: 1em;
    text-align: center;
    color: #5E503F
}

hr {
    background-color: #22333B;
}

.todo {
    background-color: #EAE0D5;
    height: 50vh;
    width: 50vh;
    margin: auto;
    border-radius: 1em;
    margin-top: 15em;
    position: relative;
    padding-bottom: 4em;
}

.add-todo {
    padding: 1rem 1rem;
    margin: 1em 1em;
    border-radius: 0.5em;
}

input {
    width: 70%;
    border: 1px solid lightgray;
}

#add-todo-button {
    width: 5em;
    border-color: transparent;
    background-color: #d4ccc3;
    color: #5E503F;
    font-weight: bold;
}

#add-todo-button:hover {
    background-color: #22333B;
    color: #EAE0D5;
}

ul input {
    appearance: none;
    padding: 5px;
    border-color: #22333B;
}

ul {
    height: 25em;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

li {
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 2em;
    font-size: 1em;
    list-style-type: none;
    color: #22333B;
    position: relative;
}

li input {
    margin-right: 2em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
}

li input:checked {
    background-color: #22333B
}

li button {
    position: absolute;
    margin-left: 40em;
    padding: 0.7em;
    font-weight: bold;
    color: #5E503F;
    border-radius: 0.6em;
    background-color: #d4ccc3;
    top: 50%;
}

.crossed {
    text-decoration: line-through;
}

.all-buttons {
    display: flex;
    position: absolute;
    width: 100%;
    font-weight: bold;
    color: #5E503F;
}

#counter {
    margin: 1.7em 15em 0em 3em;
}

.all-buttons button {
    background-color: #d4ccc3;
    border-color: transparent;
    color: #5E503F;
    font-weight: bold;
    padding: 1rem;
    margin: 1em;
    border-radius: 0.5em;
}

.all-buttons button:hover {
    background-color: #22333B;
    color: #EAE0D5;
}

.author {
    background-color: white;
    width: 16em;
    text-align: center;
    font-weight: bold;
    font-family: Calibri;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 5em;
    padding: 1em;
    font-size: 1.2em;
}

#name {
    color: #22333B;
    font-size: 1;
}

ul::-webkit-scrollbar {
    width: 1em;
}

ul::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
    background: #0A0908;
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul::-webkit-scrollbar-corner {
    background: #EAE0D5;
}